{% extends "layout.html" %}
{% set title = 'Overview' %}
{% block body %}
  <h1>Welcome</h1>

  <p>
  YAMM is a tool that makes it easy to install a set of software programs that have
  dependencies between each other.
  YAMM is also a framework that helps to create a project that describes
  its set of software programs.
  </p>
  <p>
    YAMM is under constant development.  The following features are present,
    work fine and can be seen &#8220;in action&#8221; in the NEPAL project:
  </p>
  <ul>
    <li><b>Install SALOME:</b> YAMM can install all the software contained in
    a SALOME Version.</li>
    <li><b>Highly configurable:</b> A SALOME installation could be modified or configured in many ways. As example,
    you can change some software or adds new configure options to a specific software.</li>
    <li><b>Dynamic catalog:</b> You could add a new software or a new version without
    any YAMM source modification. The project catalog can be modified during YAMM's execution.</li>
    <li><b>Graphical User Interface:</b> The project SALOME provides a GUI for using and configuring
    your SALOME version. It could also be used to generate YAMM files for SALOME commands lines tools.</li>
    <li><b>From the source to the installer:</b> You can generate your own SALOME installer.</li>
  </ul>
  <p>
    YAMM uses <a href="http://www.python.org">Python</a>
    as its internal language and for its command language.
    YAMM also uses <a href="http://www.riverbankcomputing.co.uk/software/pyqt/intro">PyQt</a> as
    its GUI framework. It is written by the EDF NEPAL Team and licensed
    under the terms of LGPL license.
  </p>

  <p>
  This documentation provides information for three types of users:

  <li>Project <b>user:</b> this kind of user wants to build a project.</li>
  <li>Project <b>contributor:</b> this kind of user wants to add a software and/or a version to a project.</li>
  <li>Project <b>developer:</b> this kind of user wants to add a new type of project in YAMM.</li>
  </p>


  <h2>Get YAMM</h2>
  <p>
  YAMM is currently available in a <a href="https://gitlab.pleiade.edf.fr/yamm/yamm">GIT repository</a> hosted in the internal GitLab forge.
  </p>

  <h2>Documentation</h2>

  <table class="contentstable" align="center" style="margin-left: 30px">
    <tr>
      <td width="50%">
        <p class="biglink"><a class="biglink" href="{{ pathto("yamm_principles") }}">YAMM Principles</a><br/>
        <span class="linkdescr">overview of basic YAMM concepts</span>
        </p>
        <p class="biglink"><a class="biglink" href="{{ pathto("common") }}">Common Features</a><br/>
        <span class="linkdescr">common features in all YAMM projects</span>
        </p>
        <p class="biglink"><a class="biglink" href="{{ pathto("contents") }}">Contents</a><br/>
        <span class="linkdescr">for a complete overview</span>
        </p>
      </td>
      <td width="50%">
        <p class="biglink"><a class="biglink" href="{{ pathto("salome_project") }}">SALOME Project</a><br/>
        <span class="linkdescr">focus on SALOME with YAMM</span>
        </p>
        <p class="biglink"><a class="biglink" href="{{ pathto("examples_tutorials") }}">Examples and Tutorials</a><br/>
        <span class="linkdescr">regroups all examples and tutorials</span>
        </p>
        <p class="biglink"><a class="biglink" href="{{ pathto("develop") }}">Develop in YAMM</a><br/>
        <span class="linkdescr">how to add a software, version, project</span>
        </p>
      </td>
      <td width="50%">
      </td>
    </tr>
  </table>

{% endblock %}
