{% extends "!layout.html" %}

{% block extrahead %}
{{ super() }}
{%- if not embedded %}
<style type="text/css">
  table.right { float: right; margin-left: 20px; }
  table.right td { border: 1px solid #ccc; }
</style>
{%- endif %}
{% endblock %}

{% block rootrellink %}
        <li><a href="{{ pathto('index') }}">YAMM home</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('contents') }}">Documentation</a>
          &raquo;</li>
{% endblock %}

{% block header %}
<div style="background-color: white; text-align: left; padding: 10px 10px 15px 15px">
<a href="{{ pathto('index') }}"><img src="{{ pathto("_static/yamm-inskcape.png", 1) }}" alt="YAMM logo" /></a>
</div>
{% endblock %}
