@import url("html4css1.css");


/* Tables with no border */
table.docutils {
    border: 0;
}

.ok {
    color: green;
    font-weight: bold;
}

.error, .test-init-error {
    color: red;
    font-weight: bold;
}

.known-error {
    color: purple;
    font-weight: bold;
}

.skipped {
    color: grey;
    font-weight: bold;
}

a:link {
    color: #6495ED;
    text-decoration: none;
}

a:visited {
    color: #6495ED;
    text-decoration: none;
}

a:hover {
    color: #6495ED;
    background-color: #FFF8DC;
    text-decoration: none;
}

.basarrowdivoption, .gauchearrowdivoption,
.basarrowdivsoft, .gauchearrowdivsoft {
    width: 600px;
    min-height: 40px;
    padding: 5px;
    position: relative;
}

.basarrowdivoption:after, .basarrowdivsoft:after,
.gauchearrowdivoption:after, .gauchearrowdivsoft:after {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
}

.basarrowdivoption:after, .basarrowdivsoft:after {
    border-color: #6495ED transparent transparent transparent;
    top: 40px;
}

.gauchearrowdivoption:after, .gauchearrowdivsoft:after {
    border-color: transparent  transparent transparent #6495ED;
    top: 30px;
}


/*
*table.docutils {
*    border-collapse: collapse;
*}
*/

/*
*table.docutils td, table.docutils th {
*    padding: 1px 8px 1px 5px;
*    border-top: 0;
*    border-left: 0;
*    border-right: 0;
*    border-bottom: 1px solid #aaa;
*}
*/
